body {
    color: white;
    font-size: 16px;
    text-shadow: 1px 2px 2px #000000;
}

.team-name {
    border-radius: 5px;
    position: absolute;
    width: 760px;
    height: 33px;
    font-size: 24px;
}

.team-name-left {
    top: 0px;
    left: 0px;
    background: rgba(0,199,13,1);
    background: linear-gradient(90deg, rgba(0,199,13,0.510329131652661) 0%, rgba(0,199,13,1) 76%, rgba(0,199,13,0.23021708683473385) 100%);
    text-align: right;
    padding-right: 220px;
}

.team-name-right {
    top: 0px;
    left: 760px;
    background: rgba(0,199,13,1);
    background: linear-gradient(270deg, rgba(0,199,13,0.510329131652661) 0%, rgba(0,199,13,1) 76%, rgba(0,199,13,0.23021708683473385) 100%);
    text-align: left;
    padding-left: 220px;
}

.team-score {
    position: absolute;
    top: -5px;
    width: 160px;
    height: 40px;
    display: flex;
}

.team-score-left {
    left: 0px;
    flex-flow: row-reverse;
    left: 600px;
    margin-left: -40px;
}

.team-score-right {
    left: 760px;
    margin-left: 40px;
}

.team-score-graphic {
    width: 40px;
    height: 40px;
    background-image: url('https://kqassets.s3.us-west-2.amazonaws.com/emerald.gif');
    background-position: center;
    background-size: contain;
}

.player {
    position: absolute;
    top: 175px;
    width: 152px;
    height: 50px;
    background-color: rgba(0, 0, 0, .8);
}

.player > .graphic {
    position: absolute;
    top: 30px;
    left: 0px;
    width: 152px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
}

.warrior-graphic {
    position: absolute;
    top: 30px;
    left: 44px;
    height: 20px;
    width: 20px;
    background-color: white;
    -webkit-mask: url(https://api.iconify.design/mdi/sword.svg) no-repeat 50% 50%;
    mask: url(https://api.iconify.design/mdi/sword.svg) no-repeat 50% 50%;
    z-index: 2;
}

.speed-graphic {
    position: absolute;
    top: 30px;
    left: 88px;
    height: 20px;
    width: 20px;
    background-color: white;
    -webkit-mask: url(https://api.iconify.design/mdi/run-fast.svg) no-repeat 50% 50%;
    mask: url(https://api.iconify.design/mdi/run-fast.svg) no-repeat 50% 50%;
    z-index: 2;
}

.player > .stat-container {
    width: 76px;
    height: 20px;
    text-align: center;
    z-index: 2;
}

.queen-kill-graphic {
    height: 10px;
    width: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.blue-queen-queen-kill-container > [class*="-queen-kill-graphic-"] {
    background-image: url(https://kqassets.s3.us-west-2.amazonaws.com/gold_queen_head.png);
}

.blue-stripes-queen-kill-container > [class*="-queen-kill-graphic-"] {
    background-image: url(https://kqassets.s3.us-west-2.amazonaws.com/gold_queen_head.png);
}

.blue-abs-queen-kill-container > [class*="-queen-kill-graphic-"] {
    background-image: url(https://kqassets.s3.us-west-2.amazonaws.com/gold_queen_head.png);
}

.blue-skulls-queen-kill-container > [class*="-queen-kill-graphic-"] {
    background-image: url(https://kqassets.s3.us-west-2.amazonaws.com/gold_queen_head.png);
}

.blue-checks-queen-kill-container > [class*="-queen-kill-graphic-"] {
    background-image: url(https://kqassets.s3.us-west-2.amazonaws.com/gold_queen_head.png);
}


.gold-queen-queen-kill-container > [class*="-queen-kill-graphic-"] {
    background-image: url(https://kqassets.s3.us-west-2.amazonaws.com/blue_queen_head.png);
}

.gold-stripes-queen-kill-container > [class*="-queen-kill-graphic-"] {
    background-image: url(https://kqassets.s3.us-west-2.amazonaws.com/blue_queen_head.png);
}

.gold-abs-queen-kill-container > [class*="-queen-kill-graphic-"] {
    background-image: url(https://kqassets.s3.us-west-2.amazonaws.com/blue_queen_head.png);
}

.gold-skulls-queen-kill-container > [class*="-queen-kill-graphic-"] {
    background-image: url(https://kqassets.s3.us-west-2.amazonaws.com/blue_queen_head.png);
}

.gold-checks-queen-kill-container > [class*="-queen-kill-graphic-"] {
    background-image: url(https://kqassets.s3.us-west-2.amazonaws.com/blue_queen_head.png);
}


.player > .queen-kill-container {
    position: absolute;
    top: 20px;
    left: 0px;
    width: 152px;
    height: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.player > .kills {
    position: absolute;
    top: 30px;
    left: 0px;
}

.player > .deaths {
    position: absolute;
    top: 30px;
    left: 76px;
}

.player > .berries {
    display: none;
}

.snail-distance {
    display: none;
}

.player > .snail-distance-meters {
    display: none;
}

.player > .signed-in-name {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 152px;
    height: 20px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

.blue-checks {
    left: 0px;
}

.blue-skulls {
    left: 152px;
}

.blue-queen {
    left: 304px;
}

.blue-abs {
    left: 456px;
}

.blue-stripes {
    left: 608px;
}


.gold-checks {
    left: 760px;
}

.gold-skulls {
    left: 912px;
}

.gold-queen {
    left: 1064px;
}

.gold-abs {
    left: 1216px;
}

.gold-stripes {
    left: 1368px;
}


.blue-stripes-graphic {
    background-image: url('https://kqhivemind.com/static/players/blue-icon-stripes.svg');
}

.blue-abs-graphic {
    background-image: url('https://kqhivemind.com/static/players/blue-icon-abs.svg');
}

.blue-queen-graphic {
    background-image: url('https://kqhivemind.com/static/players/blue-icon-queen.svg');
}

.blue-skulls-graphic {
    background-image: url('https://kqhivemind.com/static/players/blue-icon-skulls.svg');
}

.blue-checks-graphic {
    background-image: url('https://kqhivemind.com/static/players/blue-icon-checks.svg');
}


.gold-stripes-graphic {
    background-image: url('https://kqhivemind.com/static/players/gold-icon-stripes.svg');
}

.gold-abs-graphic {
    background-image: url('https://kqhivemind.com/static/players/gold-icon-abs.svg');
}

.gold-queen-graphic {
    background-image: url('https://kqhivemind.com/static/players/gold-icon-queen.svg');
}

.gold-skulls-graphic {
    background-image: url('https://kqhivemind.com/static/players/gold-icon-skulls.svg');
}

.gold-checks-graphic {
    background-image: url('https://kqhivemind.com/static/players/gold-icon-checks.svg');
}

.panel-bottom {
    display: none;
}

.panel-left {
    display: none;
}

.panel-right {
    display: none;
}

.team-score-numerical-left {
    display: none;
}

.team-score-numerical-right {
    display: none;
}

.hivemind-logo {
    display: none;
}

.game-duration {
    display: none;
}

.game-berries-remaining {
    display: none;
}

.round-name {
    display: none;
}

.cabinet-name {
    display: none;
}

.scene-name {
    display: none;
}

.current-date {
    display: none;
}

.current-time {
    display: none;
}
