body {
    color: lightgray;
    font-size: 16px;
    text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
}

.team-name {
    position: absolute;
    width: 760px;
    height: 53px;
    padding-top: 0.2rem;
    font-size: 24px;
}

.team-name-left {
    top: 0px;
    left: 0px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(9,9,121,1) 82%, rgba(0,212,255,0) 100%);
    text-align: right;
    padding-right: 4rem;
}

.team-name-right {
    top: 0px;
    left: 760px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(164,111,10,1) 17%, rgba(0,212,255,0.0033263305322128733) 100%);
    padding-left: 4rem;
}

.team-score {
    position: absolute;
    top: 25px;
    width: 760px;
    height: 30px;
    display: flex;
}

.team-score-left {
    left: 0px;
    flex-flow: row-reverse;
    padding-right: 4rem;
}

.team-score-right {
    left: 760px;
    padding-left: 4rem;
}

.team-score-graphic {
    width: 30px;
    height: 30px;
    background-image: url('https://kqassets.s3.us-west-2.amazonaws.com/emerald.gif');
    background-position: center;
    background-size: contain;
}

.player {
    position: absolute;
    top: 145px;
    width: 152px;
    height: 80px;
}

.player > .graphic {
    position: absolute;
    top: 20px;
    left: 0px;
    width: 152px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
}

.warrior-graphic {
    position: absolute;
    top: 30px;
    left: 44px;
    height: 20px;
    width: 20px;
    background-color: white;
    -webkit-mask: url(https://api.iconify.design/mdi/sword.svg) no-repeat 50% 50%;
    mask: url(https://api.iconify.design/mdi/sword.svg) no-repeat 50% 50%;
    z-index: 2;
}

.speed-graphic {
    position: absolute;
    top: 30px;
    left: 88px;
    height: 20px;
    width: 20px;
    background-color: white;
    -webkit-mask: url(https://api.iconify.design/mdi/run-fast.svg) no-repeat 50% 50%;
    mask: url(https://api.iconify.design/mdi/run-fast.svg) no-repeat 50% 50%;
    z-index: 2;
}

.player > .stat-container {
    width: 76px;
    height: 20px;
    text-align: center;
}

.queen-kill-graphic {
    height: 20px;
    width: 20px;
    background-color: white;
    -webkit-mask: url(https://api.iconify.design/mdi/crown.svg) no-repeat 50% 50%;
    mask: url(https://api.iconify.design/mdi/crown.svg) no-repeat 50% 50%;
}

.player > .queen-kill-container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 152px;
    height: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.player > .kills {
    position: absolute;
    top: 20px;
    left: 0px;
}

.player > .deaths {
    position: absolute;
    top: 20px;
    left: 76px;
}

.player > .berries {
    position: absolute;
    top: 40px;
    left: 0px;
}

.snail-distance {
    display: none;
}

.player > .snail-distance-meters {
    position: absolute;
    top: 40px;
    left: 76px;
}

.player > .signed-in-name {
    position: absolute;
    top: 60px;
    left: 0px;
    width: 152px;
    height: 20px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

.blue-stripes {
    left: 0px;
}

.blue-abs {
    left: 152px;
}

.blue-queen {
    left: 304px;
}

.blue-skulls {
    left: 456px;
}

.blue-checks {
    left: 608px;
}


.gold-stripes {
    left: 760px;
}

.gold-abs {
    left: 912px;
}

.gold-queen {
    left: 1064px;
}

.gold-skulls {
    left: 1216px;
}

.gold-checks {
    left: 1368px;
}


.blue-stripes-graphic {
    background-image: url('https://kqhivemind.com/static/players/blue-icon-checks.svg');
}

.blue-abs-graphic {
    background-image: url('https://kqhivemind.com/static/players/blue-icon-abs.svg');
}

.blue-queen-graphic {
    background-image: url('https://kqhivemind.com/static/players/blue-icon-queen.svg');
}

.blue-skulls-graphic {
    background-image: url('https://kqhivemind.com/static/players/blue-icon-skulls.svg');
}

.blue-checks-graphic {
    background-image: url('https://kqhivemind.com/static/players/blue-icon-checks.svg');
}


.gold-stripes-graphic {
    background-image: url('https://kqhivemind.com/static/players/gold-icon-checks.svg');
}

.gold-abs-graphic {
    background-image: url('https://kqhivemind.com/static/players/gold-icon-abs.svg');
}

.gold-queen-graphic {
    background-image: url('https://kqhivemind.com/static/players/gold-icon-queen.svg');
}

.gold-skulls-graphic {
    background-image: url('https://kqhivemind.com/static/players/gold-icon-skulls.svg');
}

.gold-checks-graphic {
    background-image: url('https://kqhivemind.com/static/players/gold-icon-checks.svg');
}

.panel-bottom {
    display: none;
}

.panel-left {
    display: none;
}

.panel-right {
    display: none;
}

.team-score-numerical-left {
    display: none;
}

.team-score-numerical-right {
    display: none;
}

.hivemind-logo {
    display: none;
}

.game-duration {
    display: none;
}

.game-berries-remaining {
    display: none;
}

.round-name {
    display: none;
}

.cabinet-name {
    display: none;
}

.scene-name {
    display: none;
}

.current-date {
    display: none;
}

.current-time {
    display: none;
}
