.event-name {
    background: rgba(0,199,13,0.5);
}

.rounded-\[65px\] {
    border-radius: 5px!important;
}

.rounded-full {
    border-radius: 5px!important;
}

.jss44 {
    background: #99ccff;
}

.jss45 {
    background: #ffb330;
}

.jss125 {
    background: #99ccff;
}

.jss126 {
    background: #ffb330;
}